@font-face {
    font-family: 'GreatVibesRegular';
    src: url('./fonts/GreatVibes-Regular.ttf') format('opentype');
}
  
  
body {
    margin: 0;
    font-family: 'GreatVibesRegular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
  